<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/about.css">
  <script src="./js/main.js"></script>
  <meta name="description" content="<%=description %>">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="wrapper">
    <%- include('header.ejs'); %>
      <main id="about">
        <section class="about-a">
          <div>
            <img src="./images/about-a.png" alt="">
          </div>
          <div>
            <h1>Παθιασμένοι αλχημιστές</h1>
            <p>Κάντε κλικ εδώ και αρχίστε να πληκτρολογείτε. Υθ φιμ νε σιθ ανσιλλαε δελισαθισιμι νες επισυρι μνεσαρσχυμ
              ιδ
              δισερετ διγνισιμ αβχορρεανθ υθ νες ευ κυο μεις μινιμ ηις ιδ ενιμ ετιαμ ωφφενδιθ ει εαμ πορρω δισερε
              ερυδιθι
              δολορες σενσιβυς πρι αν σιθ πυρθο ελιγενδι ατ κυο.</p>
            <h2>Δεν κάνουμε ποτέ δοκιμές σε ζώα</h2>
            <p>Κάντε κλικ εδώ και αρχίστε να πληκτρολογείτε. Ετιαμ ωφφενδιθ ει εαμ πορρω δισερε ερυδιθι δολορες σενσιβυς
              πρι αν σιθ πυρθο ελιγενδι ατ κυο εξ μαγνα πλαθονεμ ιυσθο σωνσεθεθυρ νε ιυς περ πυρθο σωνφενιρε ιρασυνδια
              θε
              φελ νε θαμκυαμ νολυισε ιδ κυας ωμιτθαμ ναμ σεδ εξ.</p>
          </div>
        </section>
      </main>
  </div> <!-- end wrapper -->

  <%- include('footer.ejs'); %>

</body>

</html>