<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/lightbox.css">
  <script src="./js/main.js"></script>
  <script src="./js/lightbox.js"></script>
  <meta name="description" content="<%=description %>">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="wrapper">
    <%- include('header.ejs'); %>
      <main id="bath">
        <h1>Χειροποίητα σαπούνια</h1>
        <div class="col4">
          <figure class="product">
            <img onclick="getLightBox('./images/soap-a.jpg')" src="./images/soap-a.jpg">
            <figcaption>Σετ Μπάνιου Λεβάντα <br> <span>19,00</span></figcaption>
          </figure>
          <figure class="product">
            <img onclick="getLightBox('./images/soap-b.jpg')" src="./images/soap-b.jpg">
            <figcaption>Μίνι Σετ Βανίλια<br> <span>23,00</span></figcaption>
          </figure>
          <figure class="product">
            <img onclick="getLightBox('./images/soap-c.jpg')" src="./images/soap-c.jpg">
            <figcaption>Μίνι Σετ Μέντα<br> <span>23,00</span></figcaption>
          </figure>
          <figure class="product">
            <img onclick="getLightBox('./images/soap-d.jpg')" src="./images/soap-d.jpg">
            <figcaption>Σετ Μπάνιου Λεβάντα<br> <span>29,00</span></figcaption>
          </figure>

          <figure class="product">
            <img onclick="getLightBox('./images/soap-e.jpg')" src="./images/soap-e.jpg">
            <figcaption>Σετ Μπάνιου Λεβάντα <br> <span>19,00</span></figcaption>
          </figure>
          <figure class="product">
            <img onclick="getLightBox('./images/soap-f.jpg')" src="./images/soap-f.jpg">
            <figcaption>Σετ Ylang-ylang<br> <span>23,00</span></figcaption>
          </figure>
          <figure class="product">
            <img onclick="getLightBox('./images/soap-g.jpg')" src="./images/soap-g.jpg">
            <figcaption> Σετ Μπάνιου Neroli<br> <span>29,00</span></figcaption>
          </figure>
          <figure class="product">
            <img onclick="getLightBox('./images/soap-h.jpg')" src="./images/soap-h.jpg">
            <figcaption>Σετ Μπάνιου Bergamot<br> <span>19,00</span></figcaption>
          </figure>
        </div>

      </main>
  </div> <!-- end wrapper -->
  <%- include('footer.ejs'); %>
</body>

</html>