main#home section.home-a {
  display: flex;
  gap: 4%;
  align-items: center;
  margin-top: 5rem;
}

main#home section.home-a :first-child {
  width: 38%;
}

main#home section.home-a :first-child h1 {
  font-size: 3rem;
  width: 100%;
}

main#home section.home-a :first-child p {
  width: 100%;
  margin-bottom: 2rem;
}

main#home section.home-a :last-child {
  width: 58%;
}

main#home section.home-a :last-child img {
  width: 100%;
}

main#home h1 {
  text-align: left;
}

div#weather-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--prinaryColor);
}



section.home-b {
  width: 100%;
  background-color: var(--secondaryColor);
}

section.home-b div.wrapper {
  display: flex;
  gap: 4%;
  align-items: center;
  margin-top: 5rem;
  padding: 7rem 0;
}

section.home-b div.wrapper :first-child {
  width: 48%;
}

section.home-b div.wrapper :first-child img {
  width: 100%;
}

section.home-b div.wrapper :last-child {
  width: 48%;
  text-align: center;
}

section.home-b div.wrapper :last-child h1 {
  font-size: 3rem;
  width: 100%;
}

section.home-b div.wrapper :last-child p {
  width: 100%;
  margin-bottom: 2rem;
}

section.home-c {
  text-align: center;
  margin: 3rem 0;
}

section.home-c h2 {
  margin-bottom: 2rem;
}


@media screen and (max-width: 900px) {
  main#home section.home-a {
    flex-wrap: wrap;
  }

  main#home section.home-a :first-child {
    width: 100%;
  }

  main#home section.home-a :last-child {
    width: 100%;
  }

  main#home a.button {
    max-width: fit-content;
  }


  section.home-b div.wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  section.home-b div.wrapper :first-child {
    width: 100%;
  }

  section.home-b div.wrapper :last-child {
    width: 100%;
  }

}