<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/home.css">
  <script src="./js/main.js"></script>

  <title>Document</title>
  <!-- https://www.webnode.com/el/leptomereies-template/cb0h0w/?_gl=1%2A9u5j7n%2A_up%2AMQ..&gclid=EAIaIQobChMIg6vxo_61hgMVu4ZoCR0dJQT1EAAYASAAEgKJ8PD_BwE -->
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="logo">
        <a href="home.html">
          <img src="./images/logo.png" alt="LE VANILLA">
        </a>
      </div>
      <nav class="main-menu">
        <a href="/">Αρχική</a>
        <a href="/e-shop">e-shop</a>
        <a href="/faq">Συχνές ερωτήσεις</a>
        <a href="/about">Σχετικά με μας</a>
        <a href="/contact">Επικοινωνία</a>
      </nav>
      <nav id="burger-icon">☰</nav>
    </header>
    <div id="weather-time">
      <span>Ώρα: </span>
      <span>Η θερμοκρασία στην Αθήνα: </span>
    </div>

    <main id="home">
      <section class="home-a">
        <div>
          <h1>Σαπούνια, αλάτια & έλαια</h1>
          <p>Μετατρέψτε το μπάνιο σε μοναδική εμπειρία</p>
          <a href="#" class="button">Αγοράστε τώρα</a>
        </div>
        <div>
          <img src="./images/home-a.jpg" alt="">
        </div>
      </section>

  </div> <!-- end wrapper -->


  <section class="home-b">
    <div class="wrapper">
      <div>
        <img src="./images/home-b.jpg" alt="">
      </div>
      <div>
        <h1>Ομορφαίνουμε τη μπανιέρα σας από το 1996</h1>
        <p> </p>
        <a href="#" class="button">Περισσότερα για εμάς</a>
      </div>
    </div>
  </section>

  <div class="wrapper">
    <section class="home-c">
      <h2>Τα πιο δημοφιλή σετ μπάνιου</h2>
      <div class="col4">
        <figure class="product">
          <img src="./images/cat-a.jpg">
          <figcaption>Σετ Μπάνιου Λεβάντα <br> <span>19,00</span></figcaption>
        </figure>
        <figure class="product">
          <img src="./images/cat-b.jpg">
          <figcaption>Μίνι Σετ Βανίλια<br> <span>23,00</span></figcaption>
        </figure>
        <figure class="product">
          <img src="./images/cat-c.jpg">
          <figcaption>Μίνι Σετ Μέντα<br> <span>23,00</span></figcaption>
        </figure>
        <figure class="product">
          <img src="./images/cat-d.jpg">
          <figcaption>Σετ Μπάνιου Λεβάντα<br> <span>29,00</span></figcaption>
        </figure>
      </div>
      <a href="#" class="button">Όλες οι κατηγορίες</a>
    </section>


  </div>



  </main>

  <footer>
    <div class="wrapper col4">
      <div>
        <a href="#"><img src="./images/logo.png" alt="LE VANILLA"></a>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam quas sunt ipsum reiciendis quasi omnis qui
          voluptatem perferendis esse temporibus!</p>
        <br>
        <p>demo@webnode.com<br>154-175-4301</p>
      </div>
      <div>
        <h3>Πληροφορίες</h3>
        <a href="#">Πολιτική απορρήτου</a>
        <a href="#">Όροι και Προϋποθέσεις</a>
        <a href="#">Τρόποι πληρωμής</a>
      </div>
      <div>
        <h3>Κατάστημα</h3>
        <a href="#">Σχετικά με εμάς</a>
        <a href="#">Επικοινωνία</a>
        <a href="#">Ο Λαγαριασμός μου</a>
      </div>
      <div>
        <h3>Newsletter</h3>

        <form class="newsletter">
          <input type="email" value="" placeholder="e-mail">
          <input type="submit" value="Εγγραφή">
        </form>
      </div>
    </div>
  </footer>
  </div> <!-- end wrapper -->

  <script src="./js/weather.js"></script>
</body>

</html>